body {
  margin: 0 auto;
  padding: 0 auto;
}

header {
  margin: 0 auto;
  background-color: #EDEDED;
  width: 100%;
}

.header-contents {
  max-width: 940px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1em;
}

button {
  width: 100%;
  display: inline-block;
  padding: 1em 1em;
  text-decoration: none;
  background:  #668ad8;
  border-bottom: solid 2px #627295;
  border-radius: 3px;
  font-size: 1em;
}

button:active { /*pressed state*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*move down*/
  border-bottom: none; /*erase line*/
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  max-width: 940px;
  position: relative;
  padding: 0 auto;
  margin: 0 auto;
}

.boxes {
  max-width: 250px;
  padding: 20px;
  margin: 10px 0;
  background-color: lightgray;
}
